/*消除两个控件的影响*/
.table-condensed .select{
    display: table-cell;
}

/*index details客户化*/
button.addOn{
    height: 30px;
}
.detialConditionDataInputHP>:nth-child(2)>:nth-child(1){
    width: 100%;
}
/*01-09为单个不是一对*/
#trigger1,#trigger3,#trigger5,#trigger7,#trigger9,#trigger11{
    width: 49%;
    margin-right: 0;
    line-height: 48px;
}
#trigger2,#trigger4,#trigger6,#trigger8,#trigger10,#trigger12{
    width: 48%;
    line-height: 48px;
}

/*日期控件*/
/**/
.iDate.date {
    height: 30px;
    width: 65%;
  }
  .iDate>button{
    border: 1px solid #c9c9c9;
  }
  .iDate>input{
    border:0 !important;
  }
  .iDate>input[placeholder]{
      color:#999;
  }
/*一行两个m_datetime*/
.m_datetime{
    width: 33.7%!important;
}
.m_datetime > button{
    border-color: #c9c9c9;
}

.dtPicker .select{
    width: auto;
}
/*下拉控件*/
/* .m_select{
    padding: 0 5px;
    border: 1px solid #eee;
    border-radius: 3px;
    height: 30px!important;
} */
    
         