
body {
    font-family: Microsoft YaHei; 
}
*{
    outline: none;
}
        /* details */
        .detailsData{
            width:80%;
            margin: 10px auto 35px auto;
            text-align: center;
            position: relative;
        }
        .detailsData>img{
             width:100%;
             margin: 0 auto;
             z-index: -1;
             position: absolute; 
             left: 8px;

        }
        .detailsData>span{
         display: inline-block;
         font-size: 15px;
         color: #fff;
         margin: 35px 0 0 50px;
        }
        .detialsRecomm{
            width: 94%;
            margin: 15px auto;
            background-color: #fff;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
        }
    
      .detialConditionDataInput,
      .detialConditionDataInputHP
      {
          height: 50px;
          font-size:15px; 
          width: 100%;
          padding-top:10px;
          padding-left:10px;
          padding-right: 0;
      }
      .detialConditionDataInput>span{
          display: inline-block;
          width: 30%;
      }
      .detialConditionDataInput>input,
      .detialConditionDataInput>select
      {
        width: 65%;
        border: 1px solid #c9c9c9;
        border-radius: 3px;
        height: 30px;
        line-height: 30px; 
        padding: 0 5px;    
        color:#333; 
    }
    .detialConditionDataInput>input[placeholder],
    .detialConditionDataInputHP>:nth-child(2)>div>input[placeholder],
    .detialConditionDataInput>div>input[placeholder],
    .phone1[placeholder]
    {
         color: #999;
         font-size: 12px;
         border-radius: 4px;
    }
    .detialConditionDataInputHP>span{
        display:inline-block;
    }
    .detialConditionDataInputHP>:nth-child(1){
        width:30%;
    }
    .detialConditionDataInputHP>:nth-child(2){
        width: 65%;
        height: 30px;
        color:#999; 
    }
    .detialConditionDataInputHP>:nth-child(2)>div{
        display: inline-block;
        position: relative;
    }
    .detialConditionDataInputHP>:nth-child(2)>:nth-child(1){
        width: 55%;
        margin-right: 2px;
    }
    .detialConditionDataInputHP>:nth-child(2)>:nth-child(2){
        width: 42%;
    }
    .detialConditionDataInputHP>:nth-child(2)>div>input{
        border: 1px solid #c9c9c9;
        border-radius: 3px;
        height: 30px;
        line-height: 30px; 
        padding: 0 5px ;
        color:#999; 
        width: 100%;
    }
    .detialConditionDataInputHP>:nth-child(2)>div>span{
        position: absolute;
        right:2px;
        font-size: 10px;
        top:9px;
    }
  
    .detailsItem{
        overflow: hidden;
        margin: 20px 0px;
        font-size: 11px;
    }
    .detailsItem>div{
        float: left;
    }
    .detailsItem>:nth-child(1){
        width: 9%;
        text-align: center;
    }
    .detailsItem>:nth-child(2){
        width: 88%;
    }
    .detailsButton{
        text-align: center;
        margin-bottom: 15px;
    }
    .detailsButton>button{
        font-size: 14px;
        color: #fff;
        height: 30px;
        line-height: 30px;
        width:120px;
        border: none;
        border-radius: 5px;
    }
    
    .detailsButton>:nth-child(2){
        background-color:#f59300;
    }
    .detailsButton>:nth-child(1){
        background-color:#cdcdcd;
        margin-right: 30px;

    }
    .detailsItem>div>span{
        color:#a974c5;
    }
    .detialConditionDataInput>div{
        display: inline-block;
        position: relative;
        width: 65%;
    }
    .detialConditionDataInput>div>input{
        padding: 0 5px;
        border: 1px solid #c9c9c9;
        border-radius: 3px;
        width:100%;
        height: 30px;
        line-height: 30px;
        color:#333;
    }
    .detialConditionDataInput>div>span{
        color:#cdcdcd; 
        position: absolute;
        right:2px;
        font-size: 10px;
        top:9px;
    }
    .detialConditionDataInput>div>div{
        display: inline-block;
    }
    .phone{
        display: inline-block;
        width: 65% !important;
        margin-left: 1.2%;
    }
   .phone1{
        padding: 0 5px;
        border: 1px solid #c9c9c9;
        border-radius: 4px !important;
        height: 30px;
        line-height: 30px;
        color:#333;
        width: 30.5% !important;
        margin-left: -2%;
   }

     /*模态框*/
.modal-dialog{
    margin-top: 80px;
    }
    .modal-header{
    color: #7A3D8F;
    background-color: #FDF4FC;
    text-align: center;
    border: none;
    }
    .modal-header > h4{
    font-weight: bold;
    font-size: 13px;
    }
    .modal-body{
    margin: 30px;
    border: 1px solid #eee;
    padding: 20px;
    }
    .modal-body h5{
    font-weight: bolder;
    padding: 5px 0;
    }
    .modal-footer{
    border: 0;
    text-align: center;
    }
    .btn-purpel{
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: #7A3D8F;
    border-radius: 5px;
    font-size: 12px;
    }
    .modal-header >button{
    position: absolute;
    top: -60px;
    font-size: 30px;
    font-weight: lighter;
    color: #fff;
    right: 20px;
    }
    .modal-header >button > span{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 40px;
    }
    .modal-header > button > span::before{
        content: "";
        height: 30px;
        width: 30px;
        border: 2px solid #fff;
        position: absolute;
        border-radius: 30px;
        right: 4px;
        top: 3px;
    
    }
    /* .modal-header > button > span::after{
        content: "";
    height: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 34px;
    right: 20px;
    
    } */


