
/* toubu */
  
    body{
        font-family: Microsoft YaHei;
        background: url(../images/body_bg.png);
        background-size: contain;
        position: relative;
        font-size:1em;
    }
    .head{
        position: relative;
    }
    .head > img{
        width: 100%;
        position: relative;
        z-index: -1;
    }
    .headT{
        position: absolute;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #fff;
        opacity: 0.2;
    }
    .headLink{
        position: relative;
        max-width: 87%;
        margin: 0 auto;
    }
        
    .headLink > div{
        position: absolute;
        width: 100%;
        top: 10px;
    }
    .headLink > div > a:first-child{
        float: left;
    }
    .headLink > div > a:nth-child(2),
    .headLink > div > a:nth-child(3){
        float: right;
    }
    .headLink > div > a:nth-child(2) > img,
    .headLink > div > a:nth-child(3) > img{
        float: right;
    }
    .headLink > div> a > img{
        width: 60%;
    }
   
    
    /* content */
    .contentNav{
        width:100%;
    }
    .contentNav>.tab{
        width:100%;
        background-color:#63337d;
    }
    .tabButton{
        display: inline-block;
        background-color:#63337d;
        position: relative;
        height: 40px;
        line-height: 40px;
        width: 24%;
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-size: 13px;
        border: 0px;     
    }  
    .showButton{
        outline: -webkit-focus-ring-color 0px 0px;
        color: #fff;
        width:24%; 
        position: relative;    
    } 
    .showButton:before{
         content: "\e078";
         font-family: 'Glyphicons Halflings';
         font-size: 14px;
         color:#63337d;
         position: absolute;
         transform: rotate(180deg);
         left: 45%;
         top:52%;
         z-index: 9999;
    }
    .carousel{
        display: none;
    }
    #one{
        display: block;
    }
  
    .carousel-indicators{
        position: absolute;
        bottom:-10px;
    }
    .carousel-indicators>li{
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: #cdcdcd;
        border: 0px;
        bottom:0px;

    }
    .carousel-indicators .active{
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: #8823a0;
        border: 0px;  
        margin-bottom:1.1px;

    }
    
    /* 课程 */
   .classKind{
       background-color: #fff;
       padding:15px 15px 20px 15px;
   }
   .className>span{
       font-size: 14px;
   }
   .classInput{
       margin-bottom: 10px;
   }
   .classInput>input{
       margin: 10px 0;
       width:120px;
       border: 1px solid #eeeeee;
       border-radius: 3px;
       height: 28px;
       line-height: 28px; 
       padding:0 5px ;
   }
   .classKind>div>input{
      width: 260px;
      border: 1px solid #eeeeee;
      border-radius: 3px;
      height: 28px;
      line-height: 28px;
   }
    .classKind>div>input[placeholder]{
        font-size: 12px;
        padding: 0 6px;
        color: #eeeeee;
    }
    .classSearch{
        display: inline-block;
        width: 37px;
        height:28px ;
        line-height:28px ;
        background-color:#63337d;
        text-align: center;
        border-radius: 3px;
        margin-left: 10px;
    }
    .classSearch>span{
        top: 4px;
        display: inline-block;
        height:28px ;
        line-height:23px ;
        font-size: 15px;
        color: #fff;
    }

    /* 推荐 */
    .recomm{
        width: 94%;
        margin: 15px auto;
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        padding:0 5px;
    }
    .recomm>:nth-child(1){
        position: absolute;
        top:-4px;
        left: -1px;

    }
    .recomm>:nth-child(1)>img{
        width: 50%;
    }


    .recommContent{
        overflow: hidden;
        border-bottom: 1px solid #edebf9;
        height: 83px;
    }
    .recommContent>div{
        float: left;
    }
    .recommContent>:nth-child(1){
        padding: 0 0px 0 20px;
        line-height: 83px;
        font-size: 15px;
        width:28%;
        color: #63337d;
    }
    .recommContent>:nth-child(2){
        margin-top: 13px;
    }
    .recommContent>:nth-child(2)>p,
    .recommOther>:nth-child(2),
    .recommOther2>:nth-child(2)
    {
        font-size: 15px;
        margin: 0;
    }
   .recommOther {
        overflow: hidden;
        border-bottom: 1px solid #edebf9;
        height: 40px;   
   } 
    .recommOther>div {
        float: left;
    }
   .recommOther>:nth-child(1){
    padding: 0 0px 0 20px;
    line-height: 40px;
    font-size: 15px;
    width:28%;
    color: #63337d;  
   } 
   .recommOther>:nth-child(2){
       line-height: 40px;
   }
   
   .recommOther2 {
    border-bottom: 1px solid #edebf9;
    height: 60px;   
} 
    .recommOther2>div {
        float: left;
    }
    .recommOther2>:nth-child(1){
    padding: 0 0px 0 20px;
    line-height: 60px;
    font-size: 15px;
    width:28%;
    color: #63337d;  
    } 
    .recommOther2>:nth-child(2){
        width:70%;
        margin-top: 10px;
    }
    .recommButton{
        margin: 0 auto;
        width:120px;

    }
    .recommButton>button{
        width:120px;
        margin: 10px auto;
        height: 30px;
        line-height: 30px;
        background-color: #f49300;
        color: #fff;
        text-align: center;
        font-size: 15px;
        border-radius:4px; 
        border: 0;
    }

    .attention{
        width:92%;
        margin: 20px auto 0 auto;
        padding-bottom: 150px;
    }
    .attention>div{
        color: #63337d;
        font-size: 15px;
        margin-bottom: 5px;
    }
    .attention>p{
      font-size: 13px;
      margin-bottom: 5px;
    }
    /*底部版权*/
.buttom-img{
    position: absolute;
    bottom: 96px;
    width: 100%;
    }
    .copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-color: #6d1c7e;
    display: block;
    padding-top: 24px;
    }
    .copyright-text{
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    }
    .copyright p{
    display: block;
    text-align: center;
    color: #bbb;
    padding-bottom: 0;
    text-transform: uppercase;
    }
    .copyright-text > p:first-child{
    font-size: 12px;
    }
    .copyright-text > p:nth-child(2){
    font-size: 12px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    position: relative;
    left: -15px;
    margin-bottom: 0;
    }
    .copyright-text > p:nth-child(3){
    font-size: 12px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    margin-bottom: 0;
    position: relative;
    top: -3px;
    }
    .copyright-text > img{
    position: absolute;
    right: 27px;
    bottom: 4px;
    width: 15%;
    
    }







