body{
    font-family: Microsoft YaHei;
    background: url(../images/body_bg.png);
    position: relative;
}
*{
    outline: none;
}
.head{
    height: 40px;
    background-color: #fff;
}
.login1Content{
    width: 94%;
    margin: 10px auto;
    background-color:#fff; 
    border-radius: 4px;
    padding: 0 10px 120px 10px ;
    margin-bottom: 0;

}
.loginFont{
    background-color: #fef7fc;
    border-radius: 4px 4px 0 0;
    font-family: 12px;
    padding: 10px 15px;
}
.loginFontContent{
    text-indent:2em;
     margin: 0px;
     color: #6d1c7e;
}
.loginFont>:nth-child(4){
    margin: 0px;
     color: #6d1c7e;
}
.loginFont>:nth-child(5){
    margin: 5px 0px 0px 0px ;
    color: #6d1c7e;
    text-align: right;
}
.detailsItem{
    font-size: 13px;
}
.loginInformation{
    background-color: #fff;
    width: 100%;
}
.detailsItem{
    overflow: hidden;
}
.numberLogin{
    color: red !important;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    margin-top: -9px;
    font-size: 11px !important;
    right: 0px !important;
}
.loginInformation>div>:nth-child(1){
    font-size: 14px;
}
.sign-in-container-p1>button{
    border:none !important;
    background-color: #ffd9a0;
    font-size: 16px;
    border-radius: 10px;
}
.sign-in-container-p1>button:focus{
    background-color: #f59300;
}
   /*底部版权*/
   .buttom-img{
    position: absolute;
    bottom: 96px;
    width: 100%;
    }
    .copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-color: #6d1c7e;
    display: block;
    padding-top: 24px;
    }
    .copyright-text{
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    }
    .copyright p{
    display: block;
    text-align: center;
    color: #fff;
    opacity: 0.9;
    padding-bottom: 0;
    text-transform: uppercase;
    }
    .copyright a{
        color: #fff!important;
        text-decoration: none;
    }
    .copyright-text > p:first-child{
    font-size: 12px;
    }
    .copyright-text > p:nth-child(2){
    font-size: 12px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    position: relative;
    left: -15px;
    margin-bottom: 0;
    }
    .copyright-text > p:nth-child(3){
    font-size: 12px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    margin-bottom: 0;
    position: relative;
    top: -3px;
    }
    .copyright-text > img{
    position: absolute;
    right: 27px;
    bottom: 4px;
    width: 15%;
    
    }

/* 按钮 */
.complete-container{
    position: relative;
    max-width: 94%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    color: #6d1c7e;
    margin-top: 10px;
    text-align: center;
}

.complete-wizard{
    width: 100%;
    overflow: auto;
    padding-top: 30px;
}

.complete-wizard > div{
    width: 33%;
    float: left;
}
.complete-wizard > div > div:first-child{
    height: 27px;
    width: 27px;
    background-color: #6d1c7e;
    border-radius: 27px;
    color: #fff;
    line-height: 27px;
    margin: 0 auto;
    position: relative;
    z-index: 99;
}
.complete-wizard::after{
    content: "";
    height: 3px;
    width: 70%;
    background-color: #cccccc;
    display: block;
    position: absolute;
    top: 42px;
    left: 15%;
}
.complete-wizard > div > div:nth-child(2){
    padding-top: 5px;
}
.complete-wizard > div:nth-child(2) > div:first-child,
.complete-wizard > div:nth-child(3) > div:first-child{
    background-color: #cccccc;
}


/*按钮*/
.complete-button{
    padding-bottom: 100%;
}
.btn-md-orange{
    width: 35%;
    color: #fff;
    background-color: #F49401;
    height: 40px;
    border-radius: 7px;
    margin: 5px 0 15px 0;
    font-size: 15px;
    font-weight: lighter;
}

.modal-dialog{
    margin-top: 80px;
    }
    .modal-header{
height: 50px;
    color: #7A3D8F;
    background-color: #FDF4FC;
    text-align: center;
    border: none;
    }
    .modal-header > h4{
        line-height: 50px;
    font-weight: bold;
    font-size: 13px;
    }
    .modal-body{
    margin: 30px;
    border: 1px solid #eee;
    padding: 20px;
    }
    .modal-body h5{
    font-weight: bolder;
    padding: 5px 0;
    }
    .modal-footer{
    border: 0;
    text-align: center;
    }
    .btn-purpel{
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: #7A3D8F;
    border-radius: 4px;
    font-size: 12px;
    }
    .modal-header >button{
    position: absolute;
    top: -60px;
    font-size: 30px;
    font-weight: lighter;
    color: #fff;
    right: 20px;
    }
    .modal-header >button > span{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 40px;
    }
    .modal-header > button > span::before{
        content: "";
        height: 30px;
        width: 30px;
        border: 2px solid #fff;
        position: absolute;
        border-radius: 30px;
        right: 4px;
        top: 3px;
    
    }
    .modal-header > button > span::after{
        content: "";
    height: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 34px;
    right: 20px;
    
    }
    .phoneLogin{
        display: inline-block;
        width: 65% !important;
        margin-left: 1.2%;
    }
   .phoneLogin1{
        padding: 0 5px;
        border: 1px solid #c9c9c9;
        border-radius: 4px !important;
        height: 30px;
        line-height: 30px;
        color:#333;
        width: 30.2% !important;
        margin-left: -2%;
   }
   .phoneLogin1[placeholder]{
       font-size: 12px;
   }