html{
    font-size: 16px;
    overflow-x: hidden;
    outline: none;
}
*{
    outline: none;
}
body {
    margin:0;
    padding: 0;
    font-family: Microsoft YaHei; 
    /* background-color: #efc6ef; */
    background: url(../images/body_bg.png);
    background-size: contain;
    position: relative;
}
.row{
    margin:0;
    padding: 0;
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    padding:0;
}
.form-control:focus{
    border-color: #c9c9c9;
    box-shadow: none;
}


/*顶部图片*/
.head > img{
    width: 100%;
    position: relative;
    z-index: -1;
}
.headLink{
    position: relative;
    max-width: 87%;
    margin: 0 auto;
}

.headLink > div{ 
    position: absolute;
    width: 100%;
    top: 10px;
}
.headLink > div > a:first-child{
    float: left;
}
.headLink > div > a:nth-child(2),
.headLink > div > a:nth-child(3){
    float: right;
}
.headLink > div > a:nth-child(2) > img,
.headLink > div > a:nth-child(3) > img{
    float: right;
}
.headLink > div> a > img{
    width: 60%;
}



/*预约成功*/
.reservation-seccess-container{
    max-width: 94%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 18px 18px 18px;
    color: #6d1c7e;
    margin-top: 10px;
}
.reservation-seccess-paragraphy{
    position: relative;
    background-color: #fef7fc;
    border-radius: 4px;
    padding: 13.5px 13px 13px 13px;
}
.reservation-seccess-container-img > img{
    width: 90%;
    position: relative;
    top: 7px;
    z-index: 99;
}
.reservation-seccess-container-img{
    text-align: center;
}
.reservation-seccess-paragraphy ~ div {
    margin: 5px 0 0 0;
}
.reservation-seccess-paragraphy ~ div:last-child {
    margin-top: 50px;
    margin-bottom: 150px;
}
/*p*/
.reservation-seccess-paragraphy > div > img{
    position: absolute;
    height: 30px;
    left: 60px;
}
.reservation-seccess-paragraphy > div > p:first-of-type{
    font-size: 22px;
    margin: 25px;
    padding-left: 50px;
    text-align: center;
}
.reservation-seccess-paragraphy > div > p:nth-of-type(2){
    font-size: 12px;
    text-indent: 1rem;
    line-height: 20px;
    color: #6d1c7e;
}

/*p1*/
.reservation-seccess-container-p1 > div{
    margin: 1rem 0;

}
.reservation-seccess-container-p1 > div > div{
    font-size: 16px;
}
.reservation-seccess-container-p1 > div > div > img{
    width: 6.5%;
    position: relative;
    top: -2px;
    margin-right: 8px;
}
.reservation-seccess-container-p1 > div > span:nth-child(2){
    font-size: 13px;
    color: #222;
}

/*p2*/
.reservation-seccess-container-p2{
    padding-top: 5px;
}
.reservation-seccess-container-p2 > div{
    margin-bottom: 10px;
    color:#64167d;
    font-size: 16px;
}
.reservation-seccess-container-p2 > p{
    margin: 0 0 8px;
    font-size: 13px;
    color: #222;
}



/*按钮组*/
.reservation-seccess-btn-group{
    text-align: center;
}
.reservation-seccess-btn-group1{
    display: inline-block;
}
.reservation-seccess-btn-group button{
    margin-right:20px;
    font-size: 14px;
}
.btn-gray,.btn-orange{
    width: 120px;
    height: 32px;
    color: #fff!important;
    border-radius: 10px;
    border: 0;
}
.btn{
    padding: 0;
}
.btn-gray{
    background-color: #cccccc;

}
.btn-orange{
    background-color: #ffd9a0;
}
.btn-orange:focus{
    background-color: #f59300;
}
.btn.active.focus,
 .btn.active:focus,
  .btn.focus,
   .btn:active.focus,
    .btn:active:focus,
     .btn:focus{
         outline: none;
     }


/*底部版权*/
.buttom-img{
    position: absolute;
    bottom: 96px;
    width: 100%;
}
.copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-color: #6d1c7e;
    display: block;
    padding-top: 24px;
}
.copyright-text{
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}
.copyright p{
    display: block;
    text-align: center;
    color: #fff;
    opacity: 0.9;
    padding-bottom: 0;
    text-transform: uppercase;
}
.copyright-text > p:first-child{
    font-size: 12px;
}
.copyright-text > p:nth-child(2){
    font-size: 12px;
    -webkit-transform: scale(0.8); 
    transform: scale(0.8); 
    position: relative;
    left: -15px;
    margin-bottom: 0;
}
.copyright-text > p:nth-child(3){
    font-size: 12px;
    -webkit-transform: scale(0.8); 
    transform: scale(0.8); 
    margin-bottom: 0;
    position: relative;
    top: -3px;
}
.copyright-text > img{
    position: absolute;
    right: 27px;
    bottom: 4px;
    width: 15%;

}
.attention>p>span{
    display: inline-block;
}
.attention>p>:nth-child(1){
    width: 5%;
    vertical-align: top;
}
.attention>p>:nth-child(2){
    width: 94%;
}
        