html{
    font-size: 16px;
    overflow-x: hidden;
    outline: none;
}
body {
    margin:0;
    padding: 0;
    font-family: Microsoft YaHei; 
    background-color: #F3F4F5;
    background-size: contain;
    position: relative;
}
.row{
    margin:0;
    padding: 0;
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    padding:0;
}
.form-control:focus{
    border-color: #c9c9c9;
    box-shadow: none;
}
input::-webkit-input-placeholder{
    color:#c9c9c9;
}
/*顶部返回*/
.head_return{
    width: 100%;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.head_return > img{
    position: absolute;
    width: 3%;
    left: 15px;
    top: 12px;
}
.head_return > a > p{
    color: #222;
    font-size: 17px;
}

/*顶部图片*/
.head > img{
    width: 100%;
    position: relative;
    z-index: -1;
}
.headLink{
    position: relative;
    max-width: 87%;
    margin: 0 auto;
}

.headLink > div{ 
    position: absolute;
    width: 100%;
    top: 10px;
}
.headLink > div > a:first-child{
    float: left;
}
.headLink > div > a:nth-child(2),
.headLink > div > a:nth-child(3){
    float: right;
    display: none;
}
.headLink > div > a:nth-child(2) > img,
.headLink > div > a:nth-child(3) > img{
    float: right;
}
.headLink > div> a > img{
    width: 60%;
}


/*wizard*/  
.bwizard{
    position:relative;
    max-width: 100%;
    height: 42px;
    background: #AF65BB;
}
.bwizard-steps{
    margin:0;
    padding:0;
    display:inline-block;
    background:#fff
}
.bwizard-steps > div{
    display:inline; 
    position:relative;
    top: 12px;
    line-height:18px;
    padding:12px 25px 10px 25px;
    background:#AF65BB;
    zoom:1;
}
.bwizard-steps > div:nth-child(2),
.bwizard-steps > div:nth-child(3){
    padding:12px 25px 10px 35px;
}

.bwizard-steps > div:first-child:before,
.bwizard-steps > div:last-child:after{
    border:0
}
.bwizard-steps > div:before{
    position:absolute;
    left:0;
    top:0;
    height:0;
    width:0;
    border-bottom:20px inset transparent;
    border-left:15px solid #fff;
    border-top:20px inset transparent;
    content:""
}
.bwizard-steps > div:after{
    position:absolute;
    right:-15px;
    top:0;
    height:0;
    width:0;
    border-bottom:20px inset transparent;
    border-left:15px solid #AF65BB;
    border-top:20px inset transparent;
    content:"";
    z-index:2}
.bwizard-steps .active{
    color:#fff;
    background: #63337D;
}
.bwizard-steps .active:after{
    border-left-color: #63337D;
}
.bwizard-steps a{
    color:#fff;
}
.bwizard-steps .active a{
    color:#fff;
}
.bwizard-steps a:hover{
    text-decoration:none
}

/* .bwizard-steps.clickable li:hover:not(.active){
    background:#ccc
}
.bwizard-steps.clickable li:hover:not(.active) a{
    color:#08c
}
.bwizard-steps.clickable li:hover:not(.active):after{
    border-left-color:#ccc
}     */

/*内容*/
.shopping-trolley-container{
    width: 100%;
    margin-bottom: 60px;
}
.shopping-trolley-container_p{
    position: relative;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #c9c9c9;
    overflow: hidden;
}
.shopping-trolley-container_p_left{
    width: 30%;
    float: left;
}
.shopping-trolley-container_p_left > .checkbox-custom{
    position: absolute;
}
.shopping-trolley-container_p_left > img{
    width: 70%;
    position: relative;
    left: 25%;
    top: 30%;
    padding-top: 15%;
    padding-bottom: 15%;
}
.shopping-trolley-container_p_right > h5,
.shopping-trolley-container_p_right > h4
{
    margin: 0;
    padding: 15px 0 7px 0;
    font-size: 14px;
    color: #777;
    font-weight: normal;
}
.shopping-trolley-container_p_right > h5 > em{
    color: #222;
    font-style: normal;
}
.shopping-trolley-container_p_right > h4 > em{
    margin: 0;
    color: #F83500;
    font-size: 14px;
    font-style: normal;
}
.shopping-trolley-container_p_right > p:first-of-type{
    font-size: 12px;
    color: #aaa;
}
.shopping-trolley-container_p_right > p:nth-of-type(2){
    color: #63337D;
    margin-top: 20px;
}
.shopping-trolley-container_count{
    position: absolute;
    text-align: center;
    right: 15px;
    bottom: 10px;
}
.shopping-trolley-container_count > div{
    float: left;
    padding-top: 3px;
    border: 1px solid #c9c9c9;
    height: 27px;
}
.shopping-trolley-container_count > div:first-child{
    width: 27px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #c9c9c9;
}
.shopping-trolley-container_count > div:nth-child(2){
    width: 35px;
    border-left: none;
    border-right: none;
}
.shopping-trolley-container_count > div:nth-child(3){
    width: 27px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*checkbox*/
    .checkbox-custom {
        position: relative;
    } 
    .checkbox-custom input[type="checkbox"] {
        opacity: 0;
        cursor: pointer;
        /* z-index: 2; */
    }
    .checkbox-custom label:before {
        content: '';
        position: absolute;
        top: 150%;
        left: 7px;
        margin-top: -5%;
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 20px;
        border: 1px solid #63337D;
        background: #fff;
    }
    .checkbox-custom input[type="checkbox"]:checked +label:after {
        border:1px solid #c9c9c9;
    }
    .checkbox-custom input[type="checkbox"]:checked +label:after {
        position: absolute;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        content: "\e013";
        top: 156%;
        left: 9px;
        font-size: 15px;
        line-height: 1;
        border: 0;
        color:  #63337D;
    }

/*底部计算*/
.shopping-trolley-bottom{
    background-color: #fff;
    height: 48px;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}
.shopping-trolley-bottom_left{
    width: 30%;
    float: left;
}
.shopping-trolley-bottom_right{
    position: relative;
    width: 70%;
    float: right;
}
.shopping-trolley-bottom_right > div.shopping-trolley-bottom_button{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color: #63337D;
}
.shopping-trolley-bottom .checkbox-custom label{
    padding-left: 35px;
}
.shopping-trolley-bottom .checkbox-custom label:before {
    top: 40%
}
.shopping-trolley-bottom_right > p{
    margin: 0;
    line-height: 48px;
    font-size: 16px;
    color: #63337D;
}
/*+-*/
.shopping-trolley-container_count > div > input{
    background-color: transparent;
    border: none;
    position: relative;
    top: -2px;
    left: 8px;
}