html{
    font-size: 16px;
    overflow-x: hidden;
    outline: none;
}
*{
    outline: none;
}
body {
    margin:0;
    padding: 0;
    font-family: Microsoft YaHei; 
    background-color: #efc6ef;
    background-size: contain;
    position: relative;
}
.row{
    margin:0;
    padding: 0;
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    padding:0;
}

input::-ms-input-placeholder{color: #999;}
input::-webkit-input-placeholder{color: #999;}
input{color: #333;}

.form-control:focus{
    border-color: #c9c9c9;
    box-shadow: none;
}


/*顶部图片*/
.head > img{
    width: 100%;
    position: relative;
    z-index: -1;
}
.headLink{
    position: relative;
    max-width: 87%;
    margin: 0 auto;
}

.headLink > div{ 
    position: absolute;
    width: 100%;
    top: 10px;
}
.headLink > div > a:first-child{
    float: left;
}
.headLink > div > a:nth-child(2),
.headLink > div > a:nth-child(3){
    float: right;
    display: none;
}
.headLink > div > a:nth-child(2) > img,
.headLink > div > a:nth-child(3) > img{
    float: right;
}
.headLink > div> a > img{
    width: 60%;
}

/*签到标题*/
.sign-in-head{
    position: relative;
    max-width: 87%;
    padding: 0;
    padding-bottom: 1px;
    margin: 0 auto;
}
.sign-in-head > img{
    width: 85%;
    position: relative;
}
.sign-in-head p,.sign-in-head img{
    display: block;
    margin:0 auto;
}
.sign-in-head p{
    position: absolute;
    text-align: center;
    left: 10px;
    right: 0;
    top: 45%;
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
}

/**/
.sign-in-container{
    max-width: 94%;
    margin: 0 auto;
    /* background-color: #fff; */
    border-radius: 4px;
    padding: 18px;
    background: url(../images/m_bg_img.png);
    background-size: contain;
    margin-bottom: 10px;
}
/*p1*/
.sign-in-container-p1{
    width: 100%;
    margin: 0 auto;
}
.sign-in-search-input{
    width: 100%;
    height: 45px;
    border: 1px solid #A666B1;
    line-height: 45px;
    border-radius: 7px;
    margin: 0 0 15px 0;
    padding-left: 10px;
}
.btn-lg-purpel{
    width: 100%;
    color: #fff;
    background-color: #a766af;
    border: 0;
    height: 45px;
    border-radius: 10px;
    margin: 5px 0 15px 0;
    font-size: 17px;
    font-weight: lighter;
}
.btn-lg-purpel:focus{
    background-color: #64167d;
}
/*p2*/
.sign-in-container-p2 > div{
    margin-bottom: 1rem;

}
.sign-in-container-p2 > div > div{
    font-size: 16px;
}
.sign-in-container-p2 > div > div > img{
    width: 6.5%;
    position: relative;
    top: -2px;
    margin-right: 8px;
}
.sign-in-container-p2 > div > span:nth-child(2){
    font-size: 13px;
    color: #222;
}


        