*{
    outline: none;
}

.successBG
{
    width:84%;
    margin: 0 auto;
    text-align: center;  
}
.successBG>img{
    text-align: center;
    width: 100%;
    padding:30px 0;
}
.successBG>span{
    font-size: 15px;
}

.sign-in-container-p1{
    text-align: center;
    width: 92%;
    margin: 15px auto 30px auto;
    }
.btn-lg-purpel{
    border:0px !important;
    width: 93%;
    color: #fff;
    background-color: #a766af;
    height: 45px;
    border-radius: 10px;
    margin: 5px 0 15px 0;
    font-size: 16px;
    font-weight: lighter;
}
.btn-lg-purpel:focus{
    background-color: #64167d;
}
.successFont>:nth-last-child(1){
    text-indent: 2em;
    margin-bottom:5px;
}
.successFont{
    font-size: 13px;
    color: rgba(43, 41, 43, 0.667);
}
.successFont{
    width: 92%;
    margin: 15px auto 30px auto;
}
*{
    outline: none;
}